extends ../../../pug/layout
block title
	title LYRICA DPN CTE Mobile Banner
block metaSize
	meta(name="ad.size", content='width=300,height=50')

block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		#main-panel
				img.animation-text1.absolute-position(src="images/line1.png")
				img.text-intro.absolute-position(src="images/line2.png")
				img.text-intro2.absolute-position(src="images/text1.png")
				img.disclaimer.absolute-position(src="images/disclaimer.png")
				img.text2.absolute-position(src="images/text2.png")
				img.pills.absolute-position(src="images/pills.png")

