extends ../../../pug/layout
block title
	title LYRICA DPN CTE Mobile Banner
block metaSize
	meta(name="ad.size", content='width=300,height=50')

block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		#main-panel
			#main-exit
				img.animation-text1.absolute-position(src="images/line1.png")
				img.text-intro.absolute-position(src="images/line2.png")
				img.text-intro2.absolute-position(src="images/text1.png")
				img.disclaimer.absolute-position(src="images/disclaimer.png")
				img.text2.absolute-position(src="images/text2.png")
				img.pills.absolute-position(src="images/pills.png")
				img.text3.absolute-position(src="images/text3.png")
				img.logo.absolute-position(src="images/logo.png")
				a.pi(href="http://www.advilaide.com")
					img.link.absolute-position(src="images/link.png")
				img.disclaimer2.absolute-position(src="images/disclaimer2.png")
				img.disclaimer3.absolute-position(src="images/disclaimer.png")

